* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3E3E3E;
    height: 1900px;
}

nav {
    overflow: auto;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

hr {
    position: relative;
    top: 110px;
    border: none;
    height: 2px;
    background-color: white;
    margin: 0;
    width: 100%;
}

.member1 {
    width: 150px;
}

.member1 img {
    width: 100%;
    float: left;
    margin-left: 60px;
}

.member2 {
    float: right;
    margin-top: 30px;
    color: white;
    font-family: Barlow Condensed, sans-serif;
    font-size: 20px;
    margin-right: 35px;
    gap: 100px;
}

.member2 ul li {
    list-style: none;
    display: inline-block;
    font-family: Barlow Condensed, sans-serif;
    font-size: 30px;
    margin: 10px;
}

.logo {
    text-align: center;
    display: inline-block;
    margin-top: 180px;
    margin-left: 480px;
    width: fit-content;
    color: white;
    font-size: 30px;
    height: 550px;
}

.logo img {
    width: fit-content;
    margin-right: 20px;
}
.burgerFood{
    position:relative;
    bottom:15px;
}

.about {
    background-color: #73281A;
    margin-top: 40px;
    position: relative;
    height: 500px;
    position: relative;
}

.aboutText {
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 45px;
    color: white;
    padding: 30px;
}

.h6 {
    font-size: 20px;
    padding: 5px;
}

.paragraph {
    font-size: initial;
    line-height: 30px;
    text-align: center;
    width: 650px;
    letter-spacing: 2px;
    padding-left: 60px;
}

.header {
    padding-bottom: 20px;
    padding-left: 0px;
}

.image {
    width: 40%;
    height: 400px;
    position: absolute;
    bottom: 50px;
    left: 850px;
}

.image img {
    width: 100%;
    border-radius: 30px;
}

.seasonal {
    background-color: #FF894F;
    color: black;
    letter-spacing: 0px;
    font-weight: 600;
    padding: 4px;
    padding-bottom: 6px;
    border-radius: 5px;
}

.smith {
    font-weight: 1000;
}

.menuSection {
    position: relative;
    height: 1000px;
}

.menuHeader {
    letter-spacing: 2px;
    Text-align: center;
    height: 60px;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin: 50px;
}

.MenuParent {
    height: 100%;
}

.Photos {
    height: 50%;
    width: 40%;
    position: relative;
    display: inline-block;
    margin-left: 140px;
    margin-bottom: 40px;
}

.Photos img {
    width: 95%;
    border-radius: 30px;
}

.burgerName {
    Text-align: center;
    font-size: 30px;
    position: absolute;
    left: 160px;
    margin-top: 20px;
    color: white;
}

.ingredient {
    height: 300px;
    width: 550px;

}

.list {
    position: absolute;
    top: 465px;
    display: flex;
    gap: 80px;
    color: white;
    list-style: square;
}

.listTwo {
    position: absolute;
    top: 491px;
    left: 146px;
    display: flex;
    gap: 80px;
    color: white;
    list-style: square;
}

.Book {
    background-color: #73281A;
    height: 800px;
    margin-top: 230px;
}

.Booking {
    padding: 60px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.Register {
    text-align: center;
    position: relative;
}

input {
    width: 540px;
    height: 35px;
    border-radius: 7px;
    margin: 20px;
    padding: 5px;
}

label {
    position: absolute;
    left: 490px;
    text-align: center;
    color: white;
    outline: none;
    border: none;
    font-size:17px;
}

.Submit {
    background-color: transparent;
    text-align: center;
    border: 2px solid white;
    color: white;
    letter-spacing: 2px;
    padding-bottom: 50px;
    font-size: 30px;
}

.Submit:hover {
    background-color: white;
    color: #73281A;
}

.textArea {
    padding-bottom: 60px;
}

footer {
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    position: relative;
}

.Hossam {
    position: absolute;
    top: 15px;
    left: 600px;
}

a {
    text-decoration: none;
    color: white;
}